.homepage {
    margin:0  130px;
    margin-bottom: 100px;
}

@media screen and (max-width: 800px) {
    .homepage {
        margin:5px;
    }
}

@media screen and (min-width: 1400px){
    .homepage {
        padding:0 120px;
    }
}