.items-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.item {
    width: 45%;
}



@media screen and (max-width: 800px) {
    .item {
      width:100%;
    }
}

